.App {
  background-color: #b8d2f2;
  border: 4px solid black;
  height: 140vh; 
  width: 90vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 100px;
}

#video {
  /* border: 4px solid rgb(37, 35, 35); */
  /* background-image: url('http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/BigBuckBunny.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  height:48vh; 
  width: 48vw;
  margin: auto;
  margin-bottom: 30px;
}

.video-picture {
  text-align: center;
  margin: 20px;
}

.videoFrame {
  /* border: 4px solid rgb(197, 194, 150);  */
  text-align: center;
  justify-content: center;
  display:grid;
  padding: 60px;
}


.controls button {
  /* background-color: #2d6eb8; */
  background-color: rgb(42, 105, 198);
  color: #fff;
  font-size:14px;
  border: none;
  cursor:pointer;
  margin: 30px;
  
}

.controls button:hover {
  color: rgb(247, 241, 241);
  background-color: rgb(98, 197, 224);
}

.controls input {
  width: 100%;
}

#progress{
  width: 100%;
}


.footer {
  text-align: center;
  padding: 80px;
  position:relative;
  margin: 10px;
}

#sub {
  margin: 10px;
}